# ignore system files
.DS_Store
Thumbs.db

# ignore log files
*.log

# ignore environment variables
.env

# ignore mapping files
*.css.map
*.html.map

# ignore sass cache
.sass-cache

# ignore editor directories
.idea/
.vscode/

# ignore build directories
build/
dist/
out/

# ignore eleventy files
package-lock.json
.cache

# ignore jekyll build directory
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# ignore hugo build directory
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# ignore node directories
node_modules/

# ignore composer vendor directory
vendor/
.bundle/