# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore mapping files
*.css.map
*.html.map

# Ignore sass cache
.sass-cache

# Ignore editor directories
.idea/
.vscode/

# Ignore package-lock.json
package-lock.json

# Ignore server.js
server.js

# Ignore IDE specific directories
.idea/
.vscode/

# Ignore node_modules
node_modules/